body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    table-layout: fixed;
    width: 1200px;
    margin: 0px auto;
}

li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: black;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background:gold;
    color:#fff;
}

.mikata img{
    width: 150px;
    height: 150px;
}

div#judgement {
    color: red;
    font-size: 48px;
    text-align: center;
    background: black;
    width: 1200px;
    margin: 0px auto;
    height: 200px;
    padding-top: 40px;
    box-sizing: border-box;
}

div#pc_hands {
    width: 1200px;
    background: lightgreen;
    height: 300px;
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    width: 1200px;
}

.opponent p {
    margin: 0px auto;
    font-weight: 600;
    font-size: 48px;
    /* padding-top: 34px; */
    box-sizing: border-box;
    /* margin-bottom: 86px; */
    height: 80px;
    margin: 0px auto;
}

#battle img {
    display: block;
    text-align: center;
    margin: 0px auto;
}

/* https://db.pokemongohub.net/pokemon/7 */
/* https://www.pokemon.co.jp/ex/sun_moon/fight/161215_01.html */
